.mui-bar {
    /* position: fixed; */
    z-index: 10;
    right: 0;
    left: 0;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
    box-shadow: 0 0 1px rgba(0,0,0,.85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.mui-bar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
    box-shadow: 0 0 1px rgba(0,0,0,.85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mui-bar-nav.mui-bar .mui-icon {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
}

.mui-bar .mui-icon {
    font-size: 24px;
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mui-bar-nav a, .mui-bar-nav h1 {
    color: #fff;
}

a:link, a:visited {
    text-decoration: none;
    outline: none;
}

a:link, a:visited {
    text-decoration: none;
}

.mui-icon {
    font-family: Muiicons;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.mui-icon-back:before, .mui-icon-left-nav:before {
    color: #515151;
}

.mui-icon-back:before, .mui-icon-left-nav:before {

    content: '\e471';
}

.login-box {
    width: 300px;
    padding: 25px 25px 23px;
    color: #6c6c6c;
    background: #fff;
    position: relative;
    margin: 0 auto;
}

.login-box-warp{position:relative;top:120px;right:60px;width:350px}
.login-box{background-color:rgba(255,255,255,.9)}

.static-form {
    position: relative;
}

.product-detail-title {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.26666666666666666rem;
    line-height: 0.7733333333333333rem;
    background: #f2f2f2;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 0.32rem;
    color: #000;
}

.login-msg.error {
    border-color: #ffb4a8;
    background-color: #fef2f2;
    color: #6C6C6C;
}

.static-form .login-msg {
    position: absolute;
    top: 0;
    left: 0;
}

.login-msg {
    line-height: 16px;
    padding: 6px 10px;
    overflow: hidden;
    width: 278px;
    background: #fef2f2;
    border: 1px solid;
}

.static-form .field {
    margin-top: 20px;
    position: relative;
}

.static-form .field label {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #ddd;
    text-align: center;
    position: absolute;
    left: 1px;
    top: 1px;
    outline: 0;
}

.static-form .field label .iconfont {
    font-size: 22px;
}

.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.static-form .field .ph-label {
    position: absolute;
    line-height: 42px;
    height: 42px;
    color: #999;
    opacity: 1;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-out;
    left: 50px;
    top: 0;
    font-size: 14px;
}

.static-form .login-text {
    width: 240px;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    padding: 11px 8px 11px 50px;
    border: 1px solid #ddd;
}

.login-box .nc-container.tb-login .nc_scale {
    border: 1px solid #ddd;
    height: 40px;
    width: 298px;
}
.login-box .nc-container .nc_scale .scale_text {
    line-height: 40px;
}
.login-box .nc-container .nc_scale span {
    height: 38px;
    line-height: 38px;
}

.static-form .submit {
    margin-top: 20px;
}

.login-box .submit button {
    width: 200px;
    height: 42px;
    border: 0;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    line-height: 42px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #adcbfa;
    border-radius: 3px;
    cursor: pointer;
    zoom: 1;
}

.login-links {
    /* margin-top: 25px; */
    overflow: hidden;
    text-align: right;
}

.login-links a {
    margin-right: 10px;
}

.login-box a {
    color: #6c6c6c;
}

a {
    color: #f40;
    text-decoration: none;
}
.footer {
    width: 10rem;
    text-align: center;
    padding-bottom: 1.3333333333333333rem;
}
.footer .cprt {
    padding: 0.48rem 0;
    background: #f2f2f2;
    height: 1.4rem;
    font-size: 0.29333333333333333rem;
}
.footer .cprt-mod1 {
    color: #333;
}
.footer .footer-menu {
    position: fixed;
    z-index: 100;
    bottom: 0px;
    width: 10rem;
    line-height: 1;
    font-size: 0;
    text-align: center;
    background: #c40000;
}

.footer .footer-menu a {
    float: left;
    font-size: 0.24rem;
    color: #fff;
    width: 25%;
    padding: 0.22666666666666666rem 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #f40;
    text-decoration: none;
}