<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deyi.dao.DisparamMapper" >

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

  <resultMap id="BaseResultMap" type="com.deyi.entity.Disparam" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="CHAR" />
    <result column="storeId" property="storeid" jdbcType="BIGINT" />
    <result column="key" property="key" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, value, storeId, `key`
  </sql>
  
   <select id="getDisparams" resultMap="BaseResultMap" parameterType="string" >
    select 
    <include refid="Base_Column_List" />
    from dis_param
    where storeId = #{0}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dis_param
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dis_param
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.deyi.entity.Disparam" >
    insert into dis_param (name, value, 
      storeId, `key`)
    values (#{name,jdbcType=VARCHAR}, #{value,jdbcType=CHAR}, 
      #{storeid,jdbcType=BIGINT}, #{key,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.deyi.entity.Disparam" >
    insert into dis_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="storeid != null" >
        storeId,
      </if>
      <if test="key != null" >
        `key`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=CHAR},
      </if>
      <if test="storeid != null" >
        #{storeid,jdbcType=BIGINT},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.deyi.entity.Disparam" >
    update dis_param
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=CHAR},
      </if>
      <if test="storeid != null" >
        storeId = #{storeid,jdbcType=BIGINT},
      </if>
      <if test="key != null" >
        `key` = #{key,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deyi.entity.Disparam" >
    update dis_param
    set name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=CHAR},
      storeId = #{storeid,jdbcType=BIGINT},
      `key` = #{key,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>