<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deyi.dao.FacilorMapper" >

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
  <resultMap id="BaseResultMap" type="com.deyi.entity.Facilor" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="appId" property="appid" jdbcType="VARCHAR" />
    <result column="mchId" property="mchid" jdbcType="VARCHAR" />
    <result column="fkey" property="key" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="certPath" property="certpath" jdbcType="TIMESTAMP" />
    <result column="secret" property="secret" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appId, mchId, fkey, createTime,certPath,secret
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from dy_facilor
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dy_facilor
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.deyi.entity.Facilor" >
    insert into dy_facilor (id, appId, mchId,
      fkey, secret,certPath,createTime)
    values (#{id,jdbcType=BIGINT}, #{appid,jdbcType=VARCHAR}, #{mchid,jdbcType=VARCHAR},
      #{key,jdbcType=VARCHAR}, #{secret,jdbcType=VARCHAR},#{certpath,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.deyi.entity.Facilor" >
    insert into dy_facilor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appid != null" >
        appId,
      </if>
      <if test="mchid != null" >
        mchId,
      </if>
      <if test="key != null" >
        fkey,
      </if>
      <if test="certpath != null" >
        certPath,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchid != null" >
        #{mchid,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="certpath != null" >
        #{certpath,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.deyi.entity.Facilor" >
    update dy_facilor
    <set >
      <if test="appid != null" >
        appId = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchid != null" >
        mchId = #{mchid,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        fkey = #{key,jdbcType=VARCHAR},
      </if>
      <if test="certpath != null" >
        certPath = #{certpath,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deyi.entity.Facilor" >
    update dy_facilor
    set appId = #{appid,jdbcType=VARCHAR},
      mchId = #{mchid,jdbcType=VARCHAR},
      fkey = #{key,jdbcType=VARCHAR},
      secret = #{secret,jdbcType=VARCHAR},
      certPath = #{certpath,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>